services:
  acg-catalog:
    build:
      context: '.'
      dockerfile: Dockerfile
    container_name: 'acg-catalog'
    deploy:
      # 자원 정책
      resources:
        limits:
          memory: '1G'
        reservations:
          cpus: '1'
    networks:
      - acg-catalog-net_default
    ports:
      - '${SERVER_PORT}:${SERVER_PORT}'
    volumes:
      - ./src:/myfolder/src
      - ./logs:/myfolder/logs
    env_file:
      - './.env'
    environment:
      - TZ=Asia/Seoul

  redis-catalog:
    image: redis:latest
    container_name: redis-catalog
    restart: on-failure
    volumes:
      - ./redis-data:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 30s
      timeout: 5s
      retries: 3
    networks:
      - acg-catalog-net_default

networks:
  acg-catalog-net_default:
    driver: bridge
