services:
  catalog-server:
    build:
      context: './api'
      dockerfile: Dockerfile
    container_name: 'catalog-server'
    deploy:
      # 자원 정책
      resources:
        limits:
          memory: '1G'
        reservations:
          cpus: '1'
    networks:
      - acg-catalog-net_default
    ports:
      - '${SERVER_PORT}:${SERVER_PORT}'
    volumes:
      - ./api/src:/api/src
      - ./api/logs:/api/logs
      - ./api/.env:/api/.env
    env_file:
      - './api/.env'
    environment:
      - TZ=Asia/Seoul

  redis-catalog:
    image: redis:latest
    container_name: redis-catalog
    restart: on-failure
    volumes:
      - ./redis-data:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 30s
      timeout: 5s
      retries: 3
    networks:
      - acg-catalog-net_default

  catalog-client:
    build:
      context: './client'
      dockerfile: Dockerfile
    container_name: 'catalog-client'
    networks:
      - acg-catalog-net_default
    ports:
      - '${CLIENT_PORT}:${CLIENT_PORT}'
    volumes:
      - ./client/src:/client/src
      - ./client/public:/client/public
    environment:
      - TZ=Asia/Seoul

networks:
  acg-catalog-net_default:
    driver: bridge
